In [1]:
import pandas as pd 

# https://portwatch.imf.org/datasets/86842d9b6e8948f29200710a8df206f5/about
spillover_country = pd.read_csv("./PortWatch_20250512/Spillover_simulator__country-level_impact.csv")
spillover_country["daily_total_value_at_risk"] = spillover_country["daily_export_value_at_risk"] + spillover_country["daily_import_value_at_risk"]
spillover_country = spillover_country[spillover_country["industry"] == "Total"]


spillover_country_all = spillover_country.copy()
spillover_country = spillover_country[spillover_country["to_iso3"].isin(["CHN", "USA"])]
spillover_country_all

,from_portid,from_portname,from_country,from_iso3,from_lat,from_lon,to_country,to_iso3,to_lat,to_lon,industry,hs_section,unit,scale,daily_export_value_at_risk,daily_import_value_at_risk,ObjectId,daily_total_value_at_risk
1,port0,Abbot Point,Australia,AUS,-19.893755,148.077620,Afghanistan,AFG,34.134026,66.592161,Total,NaN,US Dollars,Unit,2.043090e+01,NaN,2,NaN
4,port0,Abbot Point,Australia,AUS,-19.893755,148.077620,Angola,AGO,-12.167424,17.651769,Total,NaN,US Dollars,Unit,NaN,8.027334e-02,5,NaN
11,port0,Abbot Point,Australia,AUS,-19.893755,148.077620,United Arab Emirates,ARE,24.182503,54.279205,Total,NaN,US Dollars,Unit,NaN,8.573851e+03,12,NaN
20,port0,Abbot Point,Australia,AUS,-19.893755,148.077620,Argentina,ARG,-35.697271,-64.532385,Total,NaN,US Dollars,Unit,6.551468e+00,2.744768e+03,21,2.751319e+03
31,port0,Abbot Point,Australia,AUS,-19.893755,148.077620,Australia,AUS,-25.697338,134.022772,Total,NaN,US Dollars,Unit,2.183125e+07,9.466706e+05,32,2.277792e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589753,port999,Leixoes,Portugal,PRT,41.194485,-8.697575,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.961207e+06,1.063682e+06,1589754,4.024889e+06
1589765,port999,Leixoes,Portugal,PRT,41.194485,-8.697575,Uzbekistan,UZB,41.487907,63.854830,Total,NaN,US Dollars,Unit,3.733994e+01,3.639657e+02,1589766,4.013056e+02
1589768,port999,Leixoes,Portugal,PRT,41.194485,-8.697575,St. Vincent and the Grenadines,VCT,13.254808,-61.193766,Total,NaN,US Dollars,Unit,7.104299e-03,NaN,1589769,NaN
1589779,port999,Leixoes,Portugal,PRT,41.194485,-8.697575,Venezuela,VEN,7.148325,-66.364921,Total,NaN,US Dollars,Unit,7.030108e+03,2.018995e+03,1589780,9.049103e+03
1589785,port999,Leixoes,Portugal,PRT,41.194485,-8.697575,British Virgin Islands,VGB,18.421958,-64.624065,Total,NaN,US Dollars,Unit,NaN,5.093302e+00,1589786,NaN

In [7]:
spillover_country[(spillover_country["from_iso3"] == "BRA") & (spillover_country["to_iso3"] == "USA")][["from_portname", "from_lat", "from_lon"]].drop_duplicates()

                  from_portname   from_lat   from_lon
5376            Porto De Maceio  -9.679541 -35.723009
7201          Porto De Mucuripe  -3.713436 -38.471536
9497             Porto De Suape  -8.389473 -34.972910
22923               Porto Pecem  -3.538117 -38.804692
26212                  Portocel -19.839510 -40.058091
129952                   Recife  -8.050104 -34.868507
142657           Rio De Janeiro -22.882677 -43.199490
144220               Rio Grande -32.088605 -52.102466
207198                   Santos -23.917068 -46.336564
208774            Sao Francisco -26.210395 -48.620474
209594            Sao Sebastiao -23.802498 -45.406250
429539                  Tubarao -20.258827 -40.237875
479093                  Vitoria -20.326167 -40.331401
517688                    Belem  -1.500690 -48.659859
594357              Brasil Port -21.850656 -41.019924
632602                 Cabedelo  -6.969398 -34.839548
863312                    Gebig -23.057010 -44.235215
909675   Guaiba Island Terminal -22.915555 -43.783076
998384                 Imbituba -28.230794 -48.653334
1018700                  Itajai -26.893917 -48.667394
1020769                  Itaqui  -2.627114 -44.353493
1158056                   Aratu -12.783450 -38.487991
1220996                   Macae -22.386175 -41.768655
1225650           Madre De Deus -12.748062 -38.620151
1244365                  Manaus  -3.134153 -59.960298
1379076                   Natal  -5.773025 -35.205204
1469571               Paranagua -25.505239 -48.517135
1529313         Port De Aracaju -10.825369 -36.940532
1533475        Port De Salvador -12.956525 -38.505305
1586865            Porto Alegre -29.966459 -51.219380

In [23]:
portwatch_unique_LACports = pd.read_excel("portwatch_unique_LACports.xlsx")

temp_ports = [p["portwatch_name"] for p in portwatch_unique_LACports.to_dict(orient="records") if not pd.isna(p["mylacports_name"])]
spillover_country_ofinterest = pd.DataFrame([p for p in spillover_country.to_dict(orient="records") if p["from_portname"] in temp_ports])
spillover_country_ofinterest

,from_portid,from_portname,from_country,from_iso3,from_lat,from_lon,to_country,to_iso3,to_lat,to_lon,industry,hs_section,unit,scale,daily_export_value_at_risk,daily_import_value_at_risk,ObjectId,daily_total_value_at_risk
0,port101,Balboa,Panama,PAN,8.955322,-79.565472,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,8.400665e+07,3.810910e+07,19948,1.221158e+08
1,port101,Balboa,Panama,PAN,8.955322,-79.565472,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,6.854937e+07,4.002004e+07,21280,1.085694e+08
2,port1029,Puerto Cabello,Venezuela,VEN,10.472527,-67.995473,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,6.463884e+05,1.604456e+05,44917,8.068340e+05
3,port1029,Puerto Cabello,Venezuela,VEN,10.472527,-67.995473,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.114978e+06,2.899447e+04,45865,1.143972e+06
4,port1035,Colon,Panama,PAN,9.373325,-79.878792,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,6.434316e+06,5.471694e+06,52616,1.190601e+07
5,port1035,Colon,Panama,PAN,9.373325,-79.878792,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,7.129994e+06,8.893487e+06,53669,1.602348e+07
6,port1036,Puerto Cortes,Honduras,HND,15.844512,-87.948564,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,4.678478e+06,7.345702e+04,54226,4.751935e+06
7,port1036,Puerto Cortes,Honduras,HND,15.844512,-87.948564,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.154158e+07,2.554007e+07,55412,3.708165e+07
8,port1037,Puerto Cristobal,Panama,PAN,9.345538,-79.906544,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.977921e+06,3.197269e+06,55516,5.175189e+06
9,port1037,Puerto Cristobal,Panama,PAN,9.345538,-79.906544,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,6.076729e+06,1.850906e+07,56696,2.458579e+07
10,port1058,Puerto San Antonio,Chile,CHL,-33.593245,-71.618855,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.454934e+07,4.615372e+07,80751,6.070306e+07
11,port1058,Puerto San Antonio,Chile,CHL,-33.593245,-71.618855,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.743028e+07,7.941062e+06,81776,2.537134e+07
12,port1104,Rio Grande,Brazil,BRA,-32.088605,-52.102466,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,4.947210e+05,2.616636e+07,142943,2.666108e+07
13,port1104,Rio Grande,Brazil,BRA,-32.088605,-52.102466,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.186951e+06,1.163830e+06,144221,3.350782e+06
14,port1156,Santiago De Cuba,Cuba,CUB,20.013831,-75.856390,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.108363e+05,1.266763e+05,201121,2.375125e+05
15,port1156,Santiago De Cuba,Cuba,CUB,20.013831,-75.856390,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,3.553048e+04,NaN,201427,NaN
16,port1160,Santos,Brazil,BRA,-23.917068,-46.336564,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,5.524579e+07,5.446434e+07,204908,1.097101e+08
17,port1160,Santos,Brazil,BRA,-23.917068,-46.336564,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.027493e+07,2.259925e+07,207199,4.287418e+07
18,port1161,Sao Francisco,Brazil,BRA,-26.210395,-48.620474,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,3.873851e+06,2.346109e+05,207260,4.108462e+06
19,port1161,Sao Francisco,Brazil,BRA,-26.210395,-48.620474,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,5.851978e+06,2.524347e+06,208775,8.376325e+06
20,port1221,Port of Saint John's,Antigua and Barbuda,ATG,17.123927,-61.851031,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,NaN,1.935924e-02,292191,NaN
21,port1221,Port of Saint John's,Antigua and Barbuda,ATG,17.123927,-61.851031,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,4.269491e+03,1.434601e+02,292507,4.412951e+03
22,port1332,Tuxpan,Mexico,MEX,20.956124,-97.333415,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.364863e+04,2.329000e+05,434652,2.465486e+05
23,port1332,Tuxpan,Mexico,MEX,20.956124,-97.333415,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.784395e+06,1.781598e+06,435229,3.565993e+06
24,port1358,Veracruz,Mexico,MEX,19.221218,-96.154337,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,5.962541e+05,8.481750e+05,464295,1.444429e+06
25,port1358,Veracruz,Mexico,MEX,19.221218,-96.154337,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.626372e+07,3.733463e+07,465249,6.359835e+07
26,port172,Brighton,Trinidad and Tobago,TTO,10.247171,-61.629762,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,8.751357e+03,3.290757e+02,601851,9.080432e+03
27,port172,Brighton,Trinidad and Tobago,TTO,10.247171,-61.629762,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.146756e+03,3.447137e+00,601872,1.150203e+03
28,port183,Buenaventura,Colombia,COL,3.894389,-77.066496,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,7.348334e+06,5.437486e+05,615269,7.892083e+06
29,port183,Buenaventura,Colombia,COL,3.894389,-77.066496,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.556835e+07,1.835672e+06,616735,1.740402e+07
30,port184,Buenos Aires,Argentina,ARG,-34.619750,-58.352372,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.297782e+06,2.616476e+06,617093,3.914258e+06
31,port184,Buenos Aires,Argentina,ARG,-34.619750,-58.352372,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,3.242372e+06,3.112293e+06,618362,6.354665e+06
32,port244,Cienfuegos,Cuba,CUB,22.176313,-80.499611,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,4.930233e+04,2.372146e+04,683244,7.302378e+04
33,port244,Cienfuegos,Cuba,CUB,22.176313,-80.499611,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,8.328686e+05,NaN,683414,NaN
34,port326,Ensenada,Mexico,MEX,31.849565,-116.624599,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,1.054657e+07,2.137996e+06,795734,1.268456e+07
35,port326,Ensenada,Mexico,MEX,31.849565,-116.624599,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,8.647241e+06,9.026013e+06,796629,1.767325e+07
36,port357,Freeport,The Bahamas,BHS,26.524515,-78.762666,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,3.866579e+05,2.459966e+06,832616,2.846624e+06
37,port357,Freeport,The Bahamas,BHS,26.524515,-78.762666,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.823221e+07,1.721282e+06,833690,1.995350e+07
38,port358,Freeport,United States,USA,28.943937,-95.326050,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,4.619877e+05,1.597625e+06,833763,2.059613e+06
39,port358,Freeport,United States,USA,28.943937,-95.326050,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,3.346656e+07,2.009223e+07,835579,5.355879e+07
40,port506,Itaqui,Brazil,BRA,-2.627114,-44.353493,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,8.763520e+06,5.389813e+07,1018828,6.266165e+07
41,port506,Itaqui,Brazil,BRA,-2.627114,-44.353493,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.471860e+06,9.898744e+06,1020770,1.237060e+07
42,port572,Kingston,Jamaica,JAM,17.982904,-76.804437,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,2.664563e+06,1.093287e+07,1103007,1.359744e+07
43,port572,Kingston,Jamaica,JAM,17.982904,-76.804437,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.040603e+07,9.486389e+06,1104237,1.989242e+07
44,port619,La Libertad,Ecuador,ECU,-2.222869,-80.900457,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,6.615814e+04,2.379724e+01,1156220,6.618194e+04
45,port619,La Libertad,Ecuador,ECU,-2.222869,-80.900457,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,6.204854e+05,8.819135e+03,1156559,6.293045e+05
46,port637,Lazaro Cardenas,Mexico,MEX,17.944252,-102.184371,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,3.838099e+06,5.588364e+06,1176952,9.426462e+06
47,port637,Lazaro Cardenas,Mexico,MEX,17.944252,-102.184371,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.852282e+07,2.916886e+07,1177779,5.769168e+07
48,port699,Manzanillo,Mexico,MEX,19.056267,-104.287661,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,7.755237e+07,1.538547e+07,1249565,9.293784e+07
49,port699,Manzanillo,Mexico,MEX,19.056267,-104.287661,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,5.669207e+07,7.715541e+07,1250681,1.338475e+08
50,port700,Manzanillo,Panama,PAN,9.367894,-79.882155,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,8.844086e+07,2.870690e+07,1253592,1.171478e+08
51,port700,Manzanillo,Panama,PAN,9.367894,-79.882155,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,5.200447e+07,6.277714e+07,1255059,1.147816e+08
52,port764,Montevideo,Uruguay,URY,-34.888091,-56.213813,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,2.899681e+06,1.522305e+07,1333566,1.812273e+07
53,port764,Montevideo,Uruguay,URY,-34.888091,-56.213813,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,5.008170e+06,9.629891e+05,1334434,5.971159e+06
54,port86,La Habana,Cuba,CUB,23.127670,-82.333717,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,2.891444e+04,1.979118e+03,1439791,3.089356e+04
55,port885,Paranagua,Brazil,BRA,-25.505239,-48.517135,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,5.803225e+06,1.717476e+06,1468064,7.520701e+06
56,port885,Paranagua,Brazil,BRA,-25.505239,-48.517135,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.121987e+07,2.918292e+06,1469572,1.413816e+07
57,port91,Bahia San Nicolas,Peru,PER,-15.258179,-75.239493,China,CHN,38.073255,104.691139,Total,NaN,US Dollars,Unit,5.336876e+02,8.918777e+06,1499550,8.919311e+06
58,port91,Bahia San Nicolas,Peru,PER,-15.258179,-75.239493,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.352927e+05,6.385728e+04,1499916,1.991499e+05

In [119]:
pd.pivot_table(spillover_country[(spillover_country["to_country"] == "United States") & 
               (spillover_country["industry"] == "Total")  &
               (spillover_country["from_country"].isin(["Brazil", "Argentina", "The Bahamas", "Venezuela", "Panama", "Peru", "El Salvador"]))
               ],
              index = "from_country",
              values = "daily_total_value_at_risk",
              aggfunc = ["mean", "median", "sum"])

,mean,median,sum
,daily_total_value_at_risk,daily_total_value_at_risk,daily_total_value_at_risk
from_country,,,
Argentina,4.853475e+06,4.899860e+06,4.853475e+07
Brazil,6.753507e+06,3.965472e+06,1.823447e+08
El Salvador,5.240864e+06,5.240864e+06,5.240864e+06
Panama,3.830167e+07,1.602348e+07,2.681117e+08
Peru,1.181295e+07,6.057538e+06,1.299424e+08
The Bahamas,4.174889e+06,2.069705e+05,2.087444e+07
Venezuela,3.204591e+05,1.319933e+05,3.845509e+06

In [96]:
trade_by_country = pd.pivot_table(spillover_country[(spillover_country["to_country"] == "United States") & 
               (spillover_country["industry"] == "Total")],
              index = "from_country",
              values = "daily_total_value_at_risk",
              aggfunc = ["mean", "median", "sum"])
trade_by_country.columns = [f"{agg}_{col}" for agg, col in trade_by_country.columns]
trade_by_country = trade_by_country.reset_index()
#trade_by_country.reset_index()
trade_by_country

,from_country,mean_daily_total_value_at_risk,median_daily_total_value_at_risk,sum_daily_total_value_at_risk
0,Albania,1.161334e+05,1.161334e+05,2.322667e+05
1,Algeria,6.854569e+05,3.655301e+05,6.169112e+06
2,American Samoa,1.957865e+05,1.957865e+05,1.957865e+05
3,Angola,9.654581e+05,2.428909e+05,4.827291e+06
4,Anguilla,1.148203e+05,1.148203e+05,1.148203e+05
...,...,...,...,...
170,Vietnam,1.312761e+07,9.427598e+05,1.181485e+08
171,Yemen,3.874258e+06,1.091007e+06,1.162278e+07
172,Guinea-Bissau,NaN,NaN,0.000000e+00
173,Kiribati,NaN,NaN,0.000000e+00
174,Northern Mariana Islands,NaN,NaN,0.000000e+00

In [97]:
spillover_country[(spillover_country["to_country"] == "United States") & (spillover_country["from_country"] == "The Bahamas")]

,from_portid,from_portname,from_country,from_iso3,from_lat,from_lon,to_country,to_iso3,to_lat,to_lon,industry,hs_section,unit,scale,daily_export_value_at_risk,daily_import_value_at_risk,ObjectId,daily_total_value_at_risk
689402,port251,Clifton Pier,The Bahamas,BHS,25.005152,-77.544625,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.963462e+05,1.062432e+04,689403,2.069705e+05
833689,port357,Freeport,The Bahamas,BHS,26.524515,-78.762666,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,1.823221e+07,1.721282e+06,833690,1.995350e+07
870886,port388,Georgetown,The Bahamas,BHS,23.506738,-75.767894,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,4.521641e+02,4.288135e+02,870887,8.809775e+02
1377998,port798,Nassau,The Bahamas,BHS,25.080664,-77.341958,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,6.305335e+05,7.581313e+04,1377999,7.063467e+05
1402084,port821,Nicholls Town,The Bahamas,BHS,25.175754,-78.027018,United States,USA,38.820809,-96.331617,Total,NaN,US Dollars,Unit,2.986575e+03,3.762431e+03,1402085,6.749006e+03

In [17]:
all_countries = spillover_country["from_country"].drop_duplicates()

lac_countries = [
    "Mexico",
    # South America
    "Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Ecuador",
    "Guyana", "Paraguay", "Peru", "Suriname", "Uruguay", "Venezuela",

    # Central America
    "Belize", "Costa Rica", "El Salvador", "Guatemala", "Honduras", "Nicaragua", "Panama",

    # Caribbean - Sovereign States
    "Antigua and Barbuda", "The Bahamas", "Barbados", "Cuba", "Dominica", "Dominican Republic",
    "Grenada", "Haiti", "Jamaica", "St.  Kitts and Nevis", "St.  Lucia",
    "Saint Vincent and the Grenadines", "Trinidad and Tobago",

    # Caribbean - Territories and Dependencies
    "Anguilla", "Aruba", "Bermuda", "Bonaire", "British Virgin Islands",
    "Cayman Islands", "CuraÃ§ao", "Guadeloupe", "Martinique",
    "Montserrat", "Puerto Rico", "BarthÃ©lemy", "Saint Martin",
    "Sint Eustatius", "Sint Maarten", "Turks and Caicos Islands",
    "United States Virgin Islands", "St Pierre and Miquelon", "Falkland Islands",

    # French Guiana (not an independent country but often listed due to location)
    "French Guiana"
]

[c for c in lac_countries if c not in list(all_countries)]

['Bolivia',
 'Paraguay',
 'Saint Vincent and the Grenadines',
 'Bermuda',
 'Bonaire',
 'BarthÃ©lemy',
 'Sint Eustatius',
 'St Pierre and Miquelon',
 'Falkland Islands']

In [18]:
lac_usa = pd.pivot_table(spillover_country[(spillover_country["to_iso3"]=="USA") & (spillover_country["from_country"].isin(lac_countries))],
               values = "daily_total_value_at_risk",
               index = ["from_portname", "from_country", "from_iso3"],
               aggfunc = "sum")
lac_usa["daily_total_value_at_risk_perc"] = lac_usa["daily_total_value_at_risk"]/sum(lac_usa["daily_total_value_at_risk"])*100
lac_usa = lac_usa.reset_index()
lac_usa

,from_portname,from_country,from_iso3,daily_total_value_at_risk,daily_total_value_at_risk_perc
0,Acajutla,El Salvador,SLV,5.240864e+06,0.358645
1,Acapulco,Mexico,MEX,4.433875e+05,0.030342
2,Altamira,Mexico,MEX,3.837890e+07,2.626363
3,Amuay (Bahia De Amuay),Venezuela,VEN,3.287188e+05,0.022495
4,Anguilla,Anguilla,AIA,1.148203e+05,0.007857
...,...,...,...,...,...
192,Veracruz,Mexico,MEX,6.359835e+07,4.352192
193,Vieux Fort,St. Lucia,LCA,2.170601e+04,0.001485
194,Vitoria,Brazil,BRA,3.161964e+07,2.163810
195,Willemstad,CuraÃ§ao,CUW,7.544883e+05,0.051631
196,Zarate,Argentina,ARG,9.519379e+05,0.065143

In [19]:
lac_usa[lac_usa["from_portname"] == "Tuxpan"]

,from_portname,from_country,from_iso3,daily_total_value_at_risk,daily_total_value_at_risk_perc
191,Tuxpan,Mexico,MEX,3.565993e+06,0.24403

In [20]:
lac_usa["portofinterest"] = 0
lac_usa.loc[lac_usa["from_portname"].isin(temp_ports), "portofinterest"] = 1
lac_usa

,from_portname,from_country,from_iso3,daily_total_value_at_risk,daily_total_value_at_risk_perc,portofinterest
0,Acajutla,El Salvador,SLV,5.240864e+06,0.358645,0
1,Acapulco,Mexico,MEX,4.433875e+05,0.030342,0
2,Altamira,Mexico,MEX,3.837890e+07,2.626363,0
3,Amuay (Bahia De Amuay),Venezuela,VEN,3.287188e+05,0.022495,0
4,Anguilla,Anguilla,AIA,1.148203e+05,0.007857,0
...,...,...,...,...,...,...
192,Veracruz,Mexico,MEX,6.359835e+07,4.352192,1
193,Vieux Fort,St. Lucia,LCA,2.170601e+04,0.001485,0
194,Vitoria,Brazil,BRA,3.161964e+07,2.163810,0
195,Willemstad,CuraÃ§ao,CUW,7.544883e+05,0.051631,0
196,Zarate,Argentina,ARG,9.519379e+05,0.065143,0

In [21]:
lac_usa_v2 = portwatch_unique_LACports[["portwatch_name", "mylacports_name"]].merge(lac_usa, left_on = "portwatch_name", right_on = "from_portname", how = "right")

In [22]:
lac_usa_v2.to_csv("lac_usa_spillover.csv")

-------------

In [135]:
spillover_port = pd.read_csv("./PortWatch_20250512/Spillover_simulator%3A_port-level_impact.csv")
spillover_port.head()

,from_portid,from_portname,from_country,from_iso3,from_lat,from_lon,to_portid,to_portname,to_country,to_iso3,to_lat,to_lon,average_transit_days,daily_capacity_at_risk,relative_capacity_at_risk,ObjectId
0,port0,Abbot Point,Australia,AUS,-19.893755,148.07762,port1350,Vancouver,Canada,CAN,49.289964,-123.028904,63.4,189.211483,0.000335,1
1,port0,Abbot Point,Australia,AUS,-19.893755,148.07762,port1351,Vancouver,United States,USA,45.638023,-122.727412,58.4,12.629421,0.000173,2
2,port0,Abbot Point,Australia,AUS,-19.893755,148.07762,port1367,Visakhapatnam,India,IND,17.655450,83.231409,26.0,6403.447503,0.008582,3
3,port0,Abbot Point,Australia,AUS,-19.893755,148.07762,port1374,Vostochnyy,Russian Federation,RUS,42.731904,133.052836,23.4,44.702987,0.000246,4
4,port0,Abbot Point,Australia,AUS,-19.893755,148.07762,port1378,Wakamatsu (Kitakyushu),Japan,JPN,33.910603,130.812634,23.8,106.001366,0.000413,5

In [136]:
spillover_port2 = spillover_port[(spillover_port["to_country"] == "United States")][["from_portname", "from_country","to_portname", "average_transit_days", "relative_capacity_at_risk"]]
spillover_port2.head()

,from_portname,from_country,to_portname,average_transit_days,relative_capacity_at_risk
1,Abbot Point,Australia,Vancouver,58.4,0.000173
83,Aabenraa,Denmark,Houston,26.4,0.000122
131,Aabenraa,Denmark,Savannah,16.4,0.000017
183,Aabenraa,Denmark,Beaumont,26.7,0.000116
225,Aabenraa,Denmark,Corpus Christi,35.6,0.000064

In [122]:
y_df = spillover_country[spillover_country["to_iso3"] == "USA"][["from_portname", "from_country", "daily_total_value_at_risk"]]
y_df

             from_portname   from_country  daily_total_value_at_risk
602            Abbot Point      Australia               5.048646e+05
2841                Agadir        Morocco               1.560343e+06
3982             Baku Port     Azerbaijan               7.429557e+02
5376       Porto De Maceio         Brazil               2.739510e+05
7201     Porto De Mucuripe         Brazil               3.965472e+06
...                    ...            ...                        ...
1585197       Portland, ME  United States               4.391359e+07
1585971          Portmouth  United States               8.589724e+06
1586865       Porto Alegre         Brazil               1.834311e+06
1587760     Porto Da Praia     Cabo Verde               2.925744e+04
1589753            Leixoes       Portugal               4.024889e+06

[1319 rows x 3 columns]

In [137]:
#pd.pivot_table(spillover_port2, values = "daily_capacity_at_risk", index = "from_portname", columns = ["from_country",]

# daily_capacity_at_risk is the amount of maritime capacity being at-risk of facing delays or disruptions 
# due to port disruptions that affect outgoing vessel movements.
# the loaded capacity (payload multiplied by the carrying capacity of the vessel) of vessels on a given route. 
# Values are expressed in Metric Tons.



# calculating the % of at-risk capacity the given port is causing out of U.S. inbound routes
country_totals = spillover_port2.groupby("from_country")["relative_capacity_at_risk"].transform("sum")
spillover_port2["relative_capacity_at_risk_pct"] = spillover_port2["relative_capacity_at_risk"] / country_totals * 100
spillover_port2.head()

# check
#spillover_port2[spillover_port2["from_country"] == "Denmark"]["daily_capacity_at_risk_pct"].sum()

,from_portname,from_country,to_portname,average_transit_days,relative_capacity_at_risk,relative_capacity_at_risk_pct
1,Abbot Point,Australia,Vancouver,58.4,0.000173,0.162604
83,Aabenraa,Denmark,Houston,26.4,0.000122,0.287780
131,Aabenraa,Denmark,Savannah,16.4,0.000017,0.040458
183,Aabenraa,Denmark,Beaumont,26.7,0.000116,0.272673
225,Aabenraa,Denmark,Corpus Christi,35.6,0.000064,0.150457

In [138]:
pd.pivot_table(spillover_port2[spillover_port2["from_country"].isin(["Brazil", "Argentina", "The Bahamas", "Venezuela", "Panama", "Peru", "El Salvador"])], 
               values = "relative_capacity_at_risk",
               index = "from_country",
               aggfunc = ["mean", "median", "sum"])

,mean,median,sum
,relative_capacity_at_risk,relative_capacity_at_risk,relative_capacity_at_risk
from_country,,,
Argentina,0.000421,0.000081,0.037473
Brazil,0.000827,0.000178,0.395327
El Salvador,0.000636,0.000382,0.019722
Panama,0.001430,0.000256,0.266021
Peru,0.000467,0.000110,0.073277
The Bahamas,0.002303,0.000241,0.202694
Venezuela,0.000174,0.000051,0.015175

In [101]:
spillover_port3 = spillover_port2.merge(trade_by_country, left_on = "from_country", right_on = "from_country", how = "outer")
spillover_port3

,from_portname,from_country,to_portname,average_transit_days,daily_capacity_at_risk,daily_capacity_at_risk_pct,mean_daily_total_value_at_risk,median_daily_total_value_at_risk,sum_daily_total_value_at_risk
0,Abbot Point,Australia,Vancouver,58.4,12.629421,0.169449,2.731849e+06,533274.752378,8.741918e+07
1,Abbot Point,Australia,New Orleans,73.2,29.332183,0.393549,2.731849e+06,533274.752378,8.741918e+07
2,Sydney,Australia,New York-New Jersey,59.6,20.285556,0.272171,2.731849e+06,533274.752378,8.741918e+07
3,Townsville,Australia,Savannah,41.5,14.946180,0.200532,2.731849e+06,533274.752378,8.741918e+07
4,Townsville,Australia,Seattle,22.8,101.028356,1.355495,2.731849e+06,533274.752378,8.741918e+07
...,...,...,...,...,...,...,...,...,...
13792,NaN,SÃ£o TomÃ© and PrÃ­ncipe,NaN,NaN,NaN,NaN,3.613826e+03,3613.826161,3.613826e+03
13793,NaN,Timor-Leste,NaN,NaN,NaN,NaN,1.056602e+05,105660.232930,1.056602e+05
13794,NaN,Turkmenistan,NaN,NaN,NaN,NaN,5.829476e+04,58294.755936,1.165895e+05
13795,NaN,Tuvalu,NaN,NaN,NaN,NaN,1.379189e+03,1379.189300,1.379189e+03
13796,NaN,Guinea-Bissau,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00

In [102]:
final_df = y_df.merge(spillover_port3, left_on = ["from_portname", "from_country"], right_on = ["from_portname", "from_country"], how = "outer")
final_df.head()

,from_portname,from_country,daily_total_value_at_risk,to_portname,average_transit_days,daily_capacity_at_risk,daily_capacity_at_risk_pct,mean_daily_total_value_at_risk,median_daily_total_value_at_risk,sum_daily_total_value_at_risk
0,Abbot Point,Australia,5.048646e+05,Vancouver,58.4,12.629421,0.169449,2.731849e+06,5.332748e+05,8.741918e+07
1,Abbot Point,Australia,5.048646e+05,New Orleans,73.2,29.332183,0.393549,2.731849e+06,5.332748e+05,8.741918e+07
2,Agadir,Morocco,1.560343e+06,Baltimore,10.3,16.299761,0.162331,4.729205e+06,2.486308e+06,3.310443e+07
3,Agadir,Morocco,1.560343e+06,Jacksonville,14.6,21.975907,0.218860,4.729205e+06,2.486308e+06,3.310443e+07
4,Agadir,Morocco,1.560343e+06,Port Lavaca,16.0,2.498131,0.024879,4.729205e+06,2.486308e+06,3.310443e+07

In [118]:
to_check_assumptions = final_df.dropna(subset=["daily_capacity_at_risk", "sum_daily_total_value_at_risk", "from_country"])

# Group by from_country and calculate correlation per group
correlation_by_country = (
    to_check_assumptions
    .groupby("from_country")
    .apply(lambda g: g["daily_capacity_at_risk"].corr(g["sum_daily_total_value_at_risk"]))
    .sort_values(ascending=False)
)

pd.DataFrame(correlation_by_country)
pd.DataFrame(correlation_by_country).sort_values(0, ascending=True)

C:\Users\JHan\AppData\Local\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\JHan\AppData\Local\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
C:\Users\JHan\AppData\Local\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\JHan\AppData\Local\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\JHan\AppData\Local\anaconda3\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)

                                         0
from_country
El Salvador                  -3.641397e-16
Tanzania                     -3.192842e-16
Senegal                      -2.731365e-16
Liberia                      -1.873340e-16
Guinea                       -1.602792e-16
...                                    ...
TÃ¼rkiye                                NaN
United Kingdom                         NaN
United States Virgin Islands           NaN
Vanuatu                                NaN
Yemen                                  NaN

[157 rows x 1 columns]